# Requerimientos generales de pip
pandas
numpy
matplotlib
scikit-learn
scipy
seaborn
selenium
requests
statsmodels
sympy
sqlalchemy
pyodbc
openpyxl
ipykernel
beautifulsoup4
polars
rapidfuzz
tabulate
webdriver-manager
git+https://github.com/DRSarcenoR/general.git@main#egg=CHN&subdirectory=CHN